extends ../layout 

block content
    div(class='bg')
    div(id="particles-js")<!-- stats - count particles --> 
    div(class="count-particles") 
        span(class="js-count-particles")
    div(class="auth_menu")
    script(type="module" src="../../javascripts/canvas.js")
    script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="http://threejs.org/examples/js/libs/stats.min.js")
    