body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #21282a;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 1000;
  height: 700;
}

