@font-face {
  font-family: monserrat;
  src: url("../static/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: monserrat-medium;
  src: url("../static/Montserrat/Montserrat-Medium.ttf");
}
.calendar_holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: monserrat;
  background-color: rgb(245, 245, 245);
  color: black;
}
.calendar{
  position: absolute;
  left: 25%;
  top: 0;
  width: 75%;
  height: 100%;
}
button{
    border : none
}
.fc{
  width: 80%;
  height: 99%;
  margin: 10px;
  margin-left: 10%;
}
.fc .fc-button-primary {
  background-color: white; /* Green */
  border: none;
  color: black;
  outline: none;
}

.fc .fc-button-primary:hover {
  background-color: #b5b5b5; /* Green */
  color: black;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: white; /* Green */
  color: black;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:hover {
  background-color: #b5b5b5; /* Green */
  color: black;
}


.fc .fc-button-primary:disabled{
    background-color: #ededed;
    color: black;
}



.sidebar{
  margin: 0;
  width: 25%;
  height: 100%;
  background-color: white;
}