@font-face {
  font-family: monserrat;
  src: url("../static/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: monserrat-medium;
  src: url("../static/Montserrat/Montserrat-Medium.ttf");
}

.calendar_holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: monserrat;
  background-color: #f8f9fa;
  color: black;
}

.calendar_holder a {
  color: black;
}

.calendar {
  position: absolute;
  left: 25%;
  top: 0;
  width: 75%;
  height: 100%;
}
button {
  border: none;
}
.fc {
  width: 80%;
  height: 99%;
  margin: 10px;
  margin-left: 10%;
}
.fc .fc-button-primary {
  background-color: white; /* Green */
  border: none;
  color: black;
}

.fc .fc-button-primary:hover {
  background-color: #343a40; /* Green */
  color: white;
}

.fc .fc-button:focus {
  outline-color: black;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: white; /* Green */
  color: black;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:hover {
  background-color: #343a40; /* Green */
  color: white;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  border-color: black;
}

.fc .fc-button-primary:disabled {
  background-color: #ededed;
  color: black;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
  background-repeat: no-repeat;
}
.fc .fc-timegrid-col.fc-day-today {
  background-color: #e4e4e4;
}
.fc-h-event {
  height: auto;
  background-color: transparent;
  background-image: url("../images/calendar-check.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
  border: 0;
  margin: 5px;
}

.fc-h-event .fc-event-main {
  text-align: center;
  color: black;
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  margin: 3px;
  border-radius: 100%;
  background-color: #ced4da;
  color: black;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: white;
  font-size: 0.8vw;
}

.back {
  width: 90%;
  height: 5%;
  margin: 4%;
}

.back div {
  margin: 0;
  height: 100%;
  display: inline-block;
  font-family: monserrat-medium;
  color: black;
  font-size: 1.5vw;
}

.sidebar img {
  width: 25%;
  height: 75px;
  width: 75px;
  border: 1px solid white;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-top: 50px;
}
.sidebar .cmp_name {
  font-size: 1.5vw;
  color: black;
}

.sidebar *:not(.back, .back > div) {
  color: black;
  margin-top: 3%;
}

.sidebar .description {
  font-size: 0.9vw;
}

.sidebar .separator {
  height: 0.5px;
  width: 75%;
  margin: auto;
  background-color: black;
}

.event_list {
  width: 100%;
  height: 100%;
  text-align: center;
}

.alert_holder {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.alert {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  z-index: 2;
  opacity: 1;
  background-color: white;
  color: black;
}

.alert * {
  color: black;
  border-color: black;
}

.alert button{
  margin-left: 10px;
}
