@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
    font-family: monserrat;
    src: url('./static/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: monserrat-medium;
    src: url('./static/Montserrat/Montserrat-Medium.ttf');
}

html,
body {
    height: 100vh;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.title {
    font-family: monserrat;
    color: white;
    font-size: 6vw;
}

.subtitle {
    width: 100%;
    height: 40%;
    font-family: monserrat;
    color: white;
    font-size: 1.8vw;
    display: block;
    text-align: center;
}

.separator {
    height: 0.5px;
    width: 100%;
    background-color: white;
}

.connect {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 5%;
    height: 15%;
    color: white;
    font-family: monserrat;
    font-size: 1.2vw;
    padding: 25px;
}

.join {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 5%;
    height: 15%;
    color: white;
    font-family: monserrat;
    font-size: 1.2vw;
    padding: 25px;
}

.connect:hover a {
    cursor: pointer;
    color: black;
}

.join:hover a {
    cursor: pointer;
    color: black
}

.mainheader {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 40%;
    text-align: center;
}

.Navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    font-family: monserrat;
    color: white;
    font-size: 1.2vw;
    text-decoration: underline;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
}

.Navbar a {
    color: white;
    text-decoration: none;
}

.link {
    position: absolute;
    top: 90%;
    left: 45%;
    font-family: monserrat;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 5px;
}

.link a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
}

.link a:hover {
    cursor: pointer;
}


#infomenu {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#infomenu .infosection {
    position: absolute;
    margin-top: 35%;
    height: 30%;
    width: 100%;
}

.infosection div {
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    font-family: monserrat;
    color: white;
    font-size: 1.2vw;
    text-align: center;
}

.mainheader svg:hover {
    fill: black;
}

.infosection .scroller {
    margin-left: 95%;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.scroller svg {
    margin: 11px;
}

.scroller:hover {
    border: 1px solid black;
    cursor: pointer;
}

.scroller:hover svg {
    fill: black;
}

.menu:hover {
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10%;
    height: 100%;
    padding: 25px;
}

.list {
    position: absolute;
    top: 5%;
    left: -30%;
    transition: left .2s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    font-family: monserrat;
    color: white;
    font-size: 1.2vw;
    width: 20%;
    z-index: 1;
    padding: 25px;
}

.list a {
    margin-left: 25px;
}

.list a:hover {
    color: black;    
}

.menu-active {
    left: 3%;
    visibility: visible;
}

.auth_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    font-family: monserrat-medium;
    color: black;
    font-size: 1.2vw;
}

.auth_menu .auth_title {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%;
    font-family: monserrat-medium;
    color: black;
    font-size: 2.8vw;
    text-align: center;
}

.auth-component {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 80%;
    height: 70%;
    margin-top: 50%;
}

.auth-component>form {
    height: 100%;
    width: 100%;
}

.auth_input {
    margin-top: 10%;
    width: 100%;
    height: 15%;
    animation-duration: 1s;
}

.auth_input input {
    position: absolute;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    outline: none;
    margin: 0;
    z-index: 2;
    background-color: transparent;
    font-family: monserrat-medium;
    color: black;
    font-size: 1.4vw;
}

.auth_input input:focus {
    overflow: hidden;
}

label {
    position: absolute;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    outline: none;
    margin: 5%;
    z-index: 1;
    font-size: 1vw;
}

.auth-component a {
    margin-top: 20%;
    margin-left: 50%;
    font-family: monserrat-medium;
    color: black;
    font-size: 0.9vw;
}

.submit {
    margin-top: 15%;
    margin-left: 20%;
    width: 40%;
    height: 10%;
    background-color: black;
    border-radius: 10px;
    font-family: monserrat-medium;
    color: white;
    font-size: 1vw;
    border: none;
}

.submit:hover {
    cursor: pointer;
}

.back{
    width : 90%; 
    height : 5%; 
    margin : 4%; 
}

.back div{
    margin: 0;
    height: 100%;
    display: inline-block;
    font-family: monserrat-medium;
    color: black;
    font-size: 1.8vw;
}